# systemd service configuration

[Unit]
Description=Collector Service
After=network.target

[Service]
User=root
ExecStart=/usr/bin/python /opt/collector/start.py collector
Restart=always

[Install]
WantedBy=multi-user.target
